<div class="landing-top">
  <div class="landing-text">
    <h2>Bienvenido a Veggie Kings. Hogar de la buena nutrición en base a comida saludable, el servicio más rápido de la ciudad y a bajos precios.</h2>
  </div>
</div>

<div class="row margin-top">
    <div class="offset-md-1 col-md-4 ">
      <ul class="demo-2 effect">
          <li>
            <h2>Elige de nuestro menú</h2>
          </li>
          <li> <a href="<%= platos_path %>"><img class="top" src="https://saborgourmet.com/wp-content/uploads/ensaladas-con-ricota-istock-1-600x401.jpg" alt=""/></li></a>
      </ul>
    </div>
    <div class="offset-md-1 col-md-4">
      <ul class="demo-2 effect">
          <li>
            <h2>Crea tu Plato</h2>
          </li>
          <li> <a href="<%= crear_plato_index_path %>"><img class="top" src="https://saborgourmet.com/wp-content/uploads/ensaladas-con-ricota-istock-1-600x401.jpg" alt=""/></a></li>
      </ul>
    </div>
</div>


<footer class="footer margin-top">
  <div class="container">
    <div class="row">
      <div class="offset-4 col-md-4">
        <i><%= fa_icon "facebook-square" %> </i>
        <i> <%= fa_icon "instagram" %> </i>
        <i> <%= fa_icon "twitter-square" %> </i>
      </div>
    </div>
    <h5 class="text-muted">Copyright ©2017 Veggie Kings • All Rights reserved.</h5>
  </div>
</footer>
